// I import fonts
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background-color: rgb(47, 47, 47);
  height: 100vh;
  font-family: "VT323", monospace;
  color: greenyellow;

  #app{
    height: 100%;

    .app-wrap{
      height: 100%;
    }
    
  }
  
  h1{
    text-transform: uppercase;
  }
}

